*{
	margin:0;
	padding:0;
}
#homepage_body{
	height:500px;
	text-align:center;
	background:linear-gradient(45deg, #ffb366, #ff6600);
}

#homepage_body ul{
	list-style-type:none;
}

#homepage_body li{
	color:white;
	padding:10px;
	float:right;
	display:block;
}

#homepage_body h2{
	font-family:Impact;
	font-size:50px;
	color:white;
	padding-top:50px;
}

#homepage_body button{
	margin-top:100px;
	width:40%;
	padding:30px 50px;
	border:none;
	background-color: white;
	font-size:20px;
	border-radius: 10px;
	transition-duration: 0.4s;
}

#homepage_body button:hover{
	box-shadow: 0 0 50px #fff3e6;
}
#homepage_footer {
	background:linear-gradient(45deg, #ffb366, #ff6600);
	
}